* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.modal-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 3;
    height: 100%;
    width: 100%;
}

.modal {
    border: solid;
    height: 210px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: 0 0px 30px 5px rgb(0 0 0 / 55%);
    border-radius: 25px;
}

.switch-servers-modal {
    visibility: hidden;
}

.victory-modal {
    visibility: hidden;
}

.modal-button {
    font-weight: bold;
    top: 30px;
    height: 40px;
    width: 80px;
    border: solid;
    border-radius: 25px;
}

.modal-button:hover, button:hover {
    cursor: pointer;
}

.modal-active {
    visibility: visible;
}

.view {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.track {
    display: flex;
    height: 100%;
    width: 100%;
    transition: .6s;
}

.main-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    min-width: 100%;
}

.top-box {
    z-index: 1;
    display: flex;
    flex-direction: column;
    border: solid 5px white;
    border-radius: 25px;
    flex: 1;
    background-color: #ed3430;
}

.top-box-upper {
    flex:.3;
}
.top-box-lower {
    flex: .7;
}

.score {
    top: 40%;
    font-size: 90px;
    vertical-align: middle;
}

.score:hover, .menu-checkbox:hover {
    cursor: pointer;
    user-select: none;
}

.middle-box {
    margin: auto;
    position: relative;
    display: flex;
    width: 80vw;
    max-width: 500px;
    justify-content: space-evenly;
    align-items: center;
    flex: 0;
    /* transition: flex .4s ease; */
    transition: .3s ease;
    transform: scale(5);
    /* top: 50px; */
}

#menu {
    z-index: 1;
    position: absolute;
    /* margin: 0; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: solid 5px white;
    text-align: center;
    vertical-align: middle;
}

.menu-burger {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
  display: flex;
  justify-content: space-between;
  width: 30px;
  height: 30px;
  flex-direction: column;
  align-items: center;
  }

.box {
  height: 8px;
  width: 100%;
  border-radius: 3px;
  background-color: black;
}

/* Invisible checkbox laying over menu burger */
.menu-checkbox {
    /* appearance: none; */
    position: absolute;
    z-index: 2;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 50px;
    width: 50px;
    border: solid 5px;
    border-radius: 50%;
    opacity: 0;

    text-align: center;
    vertical-align: middle;
}

.menu-checkbox:checked ~ .middle-box {
    flex: 1;
    transform: scale(1);
    transition: .3s ease;
}

.button {
    position: absolute;
    z-index: 0;
    transform: translate(-50%, -50%);
    top: -30px;
    top: 50%;
    height: 50px;
    width: 50px;
    background: none;
    border: none;
}

img {
    height: 50px;
    width: 50px;
}

.reset-button {
    left: 0;
}

.undo-button {
    left: 25%;
}

.color-button {
    left: 75%;
}

.settings-button {
    left: 100%;
}

.bottom-box {
    display: flex;
    border: solid 5px white;
    flex: 1;
    flex-direction: column;
    background-color: #154478;
    border-radius: 25px;
}

.bottom-box-upper {
    flex:.3;
}

.bottom-box-lower {
    position: relative;
    flex: .7;
}

.countdown-number {
    padding: 7px;
    min-height: 35px;
    min-width: 45px;
    font-size: 26px;
    position: absolute;
    text-align: center;
    bottom: 15px;
    right: 15px;
    background: white;
    border-radius: 50%;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: solid 3px transparent;
    border-radius: 30px;
    transition: 0.5s;
    outline: none;
    
    font-size: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
  }
  
input[type=text]:focus {
    border-bottom: 10px solid white;
}

::placeholder {
    color: rgba(255, 255, 255, 0.507);
}

.score {
    color: white;
}

.color-window {
    z-index: 2;
    display: flex;
    flex-direction: column;
    position: absolute;
    visibility: hidden;
    left: 20vw;
    right: 20vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30vh;
    width: 230px;
    border: solid;
    border-radius: 25px;
    background: white;
    box-shadow: 0 0px 30px 5px rgb(0 0 0 / 55%);
}

.color-window-active {
    visibility: visible;
}

.top-color-buttons {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    align-items: flex-start;
}

.middle-x img {
    height: 50px;
    width: auto;
}

.exit-button {
    top: 50%;
    left: 50%;
    height: 50px;
    width: 50px;
    transform: translate(-50%, -50%);
    border: none;
    background: white;
    border-radius: 50%;
}

.bottom-color-buttons {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    align-items: flex-end;
}

.button-color {
    height: 50px;
    width: 50px;
    border: solid;
    border-radius: 50%;
}

.red {
    background: #ed3430;
}

.blue {
    background: #154478;
}

.green {
    background: #01c756;
}

.settings-page {    
    min-width: 100%;
    display: flex;
    align-items: center;
}

.settings {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 95%;
    max-width: 800px;
    width: 95%;
    margin: auto;
    background: rgb(206, 205, 205);
    border: 5px solid;
    overflow: hidden;
    border-radius: 50px;
}

.settings-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    max-height: 150px;
    background: rgb(98, 98, 98);
}

.back-button {
    display: flex;
    justify-content: start;
    padding-left: 20px;
    flex: .7;
    background: none;
    border: none;
}

.settings-header h1 {
    background: white;
    margin: 25px;
    border: solid;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex: 2;
    font-size: 40px;
    padding: 15px;
}

.settings-list {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.setting {
    display: flex;
    align-items: center;
    border-bottom: 3px solid black;
    padding: 15px;
}

.setting h2 {
    flex: 1;
}

.setting input{
    display: flex;
    text-align: center;
    font-size: 30px;
    height: 50px;
    width: 100px;
    border: solid;
    border-radius: 15px;
}

.dark-mode-setting {
    border: none;
}

.dark-1 {
    background: #393939;
}

.dark-2 {
    background: #838383;
}

.dark-font {
    color: white;
}

.modal-toggle {
    height: 50px;
    width: 50px;
}
